# ignore directories that contain experiment-custom code and configuration
# (thses should be in an independent repo)
caen_firmware
*_custom


# ignore midas-like files 
*.xml
*.odb
midas.log

# ignore editor backup files
*~
*.bak

# exclude make-like remnants
tags
.depend

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# backupfiles from editor
*~
*.bak

# corefiles from debugging
core.*
